@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Weights: 400, 600*/
.poppins{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  .open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  } 




:root{
    --cp1: hsl(257, 40%, 49%);
    --cp2: hsl(300, 69%, 71%);
    --font: 1rem;

}

*{
    margin: 0;
    padding: 0;
    font-size: var(--font);
    max-width: 100%;
}

body{
    background-image: url('../images/bg-desktop.svg');
    background-size: cover;
    background-color: var(--cp1);
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

header{ grid-area: header;}
section.image{ grid-area: image;}
section.text{ grid-area: text;}
footer{ grid-area: footer;}


article{
    max-width: 1440px;
    display: grid;
    grid-template-areas:
        'header header'
        'image text'
        'footer footer';
    gap: none;
    background-color: transparent;


}
article > *{
    background-color: transparent;
    color: white;
    padding: 2rem;
}

section.text{
    padding-left: calc(var(--font) * 2);

}

section.text h1{
    margin-top: calc(var(--font) * 4);
    font-size: calc(var(--font) * 2);
    line-height: calc(var(--font) * 3);
    max-width: 350px;


}



section.text p{
    margin-top: calc(var(--font) * 2);
    line-height: calc(var(--font) * 1.5);
    max-width: 440px;
    
}

section.text > div{
    margin-top: calc(var(--font) * 2);
    
}

section.text > div button{
    border: 0;
    padding: 1rem 4rem 1rem 4rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 2rem 1px black;
}

section.text > div button:hover{
    background-color: var(--cp2);
    color: white;
    cursor: pointer;
}


footer{
    display: flex;
    justify-content: right;
    gap: 10px;
}
footer > img{
    height: 30px;
}



/*versao mobile*/
@media(max-width:950px){
    body{
        background-image: url('../images/bg-mobile.svg');
    }
    main{
        align-items: unset;
    }
    article{
        max-width: 320px;
        display: grid;
        grid-template-areas:
            'header'
            'image'
            'text'
            'footer';
        gap: none;
        background-color: transparent;
    }

    article > *{
        padding: 0rem;
    }

    header > img{
        height: calc(var(--font) * 2);
        padding-top: 1rem;
    }
    section.text h1{
        text-align: center;
        margin-top: calc(var(--font) * 1);
        font-size: calc(var(--font) * 1.5);
        line-height: calc(var(--font) * 2);
        max-width: unset;
    }
    section.text p{
        text-align: center;
        margin-top: calc(var(--font) * 1);
    }
    section.text > div{
        display: flex;
        justify-content: center;
    }
    section.text{
        padding-left: calc(var(--font) * 0);
    
    }






}

